<h3>
  <strong>
    <em>Home</em>
  </strong>
</h3>
<hr>
<h3 class="text-center"><strong>For hire</strong> : "Jeff McCarley"</h3>
<%= image_tag("JEM00.jpg", class: "img img-responsive center-block") %>
<p class="text-center">Just another dude who writes code.</p>
