<h1>Home</h1>
<hr>
<h3 class="text-center">For hire :</h3>
<%= image_tag("JEM00.jpg", class: "img img-responsive center-block") %>
<p class="text-center">Yet another dude who writes code (cheap!)</p>
