<!-- begin footer -->
<footer class="container-fluid text-center">
  <div class="row">
    <div class="col col-md-6 text-left">
      &copy; 2018 AZ-JEM
    </div>
    <div class="col col-md-6 text-right">
      <!-- Authentication -->
      <span class="notice"><%= notice %></span>
      <span class="alert"><%= alert %></span>
    </div>
  </div>
</footer>
<!-- end footer -->
