<!-- begin footer -->
<footer class="container-fluid text-center">
  <div class="row">
    <div class="col col-md-6 text-left">
      &copy; 2018 AZ-JEM
    </div>
    <div class="col col-md-6 text-right">
      <!-- Authentication -->
      <% if notice %>
        <span class="notice"><%= notice %></span>
      <% end %>
      <% if alert %>
        <span class="alert"><%= alert %></span>
      <% end %>
    </div>
  </div>
</footer>
<!-- end footer -->
