<!-- begin footer -->
<footer class="container-fluid text-center">
  <div class="row">
    <div class="col col-xs-12">
      <!-- Notice -->
      <% if notice %>
        <span class="notice"><%= notice %></span>
      <% end %>
      <!-- Alert -->
      <% if alert %>
        <span class="alert"><%= alert %></span>
      <% end %>
      <!-- Branding -->
      <% if !alert && !notice %>
        <span id="azjem"> &copy; 2018 AZ-JEM </span>
      <% else %>
        <span id="azjem" style="display: none"> &copy; 2018 AZ-JEM </span>
      <% end %>
    </div>
  </div>
</footer>
<!-- end footer -->
