// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ====================================================================== /
//  globals
// ====================================================================== /
@import "colors";
// metrics
$font-pixels: 10px;
$nav-height: 7rem;
$footer-height: 5rem;

// ====================================================================== /
//  mixins
//  (just for demonstration)
// ====================================================================== /
@mixin col-margin {
  .col {
    margin-top: 1rem;
  }
}

// ====================================================================== /
//  view animation :
// ====================================================================== /
@keyframes view-enter {
  from {
    transform: scale(0.1);
    opacity: 0;
  }
  to {
    transform: scale(1.0);
    opacity: 1;
  }
}

.enter {
  animation: 750ms ease view-enter;
}

// ====================================================================== /
//  html configurationo
// ====================================================================== /
html {
  // simplify rem calculations
  font-size: $font-pixels;
  // viewport
  height: 100%;
  width: 100%;
}

// ====================================================================== /
//  body configuration
// ====================================================================== /
body {
  // font stack
  font: 2.0rem/3.0rem Arial, Helvetica, sans-serif;
  // background
  background-image: linear-gradient(to bottom right, $gradient-start, $gradient-end);
  background-attachment: fixed;
  // default text
  color: $color-text;
}

p {
  color: #000;
}

// ====================================================================== /
// alerts and notices
// ====================================================================== /
.alert {
  margin-top: 1.5rem;
  padding: 0.25rem 1rem;
  background: #a00;
  color: #eee;
  border: 1px solid white;
}

.notice {
  margin-top: 1.5rem;
  padding: 0.25rem 1rem;
  background: #0a0;
  color: #eee;
  border: 1px solid white;
}

// ====================================================================== /
// icons
// ====================================================================== /
i {
  color: $color-text;
}

// ====================================================================== /
//  navigation
// ====================================================================== /
.navbar-inverse {

  background-color: $color-nav;
  padding-top: 1rem;

  .navbar-nav>li>a {
    padding: 0.5rem 1rem;
    margin: 1rem 0 0 1rem;
  }

  .navbar-brand {
    font-size: 3.0rem;
  }

  .navbar-brand,
  .navbar-text,
  .navbar-nav>li>a {
    color: $color-lo;
    background: $color-nav;
  }

  .navbar-nav>li.active>a {
    background-color: #000;
  }
}

// ====================================================================== /
//  views
// ====================================================================== /

// ----------------------------------- /
//  local viewport
// ----------------------------------- /
#view-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  // border: 1px solid red;
}

// ----------------------------------- /
//  centered relative to container...
// ----------------------------------- /
#view-div {
  position: relative;
  margin: $nav-height*1.25 5%;
  padding: 2rem;
  background: rgba($color-nav, 2/3);
  border: 1px solid black;
  border-radius: 2rem;
  box-shadow: 1rem 1rem 0.75rem 0.5rem rgba($color-nav, 1/5);
}  // view-div

#carousel-example-generic {
  // height: 400px;
  img {
    margin-top: 3rem;
  }
  h3 {
    margin-top: 3rem;
    // margin-bottom: 30px;
  }
}
// ====================================================================== /
//  footer
// ====================================================================== /
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: $footer-height;
  width: 100%;
  background: $color-nav;
  color: $color-lo;
  text-align: center;
  // suppress bootstrap pagination oddity...
  z-index: 10;
  // ----------------------------------- /
  // columns
  // ----------------------------------- /
  @include col-margin;

}

// ====================================================================== /
//  Let's get responsive...
// ---------------------------------------------------------------------- /
// The new area of interest is : {768 < width < 1306}
// - at this range the navbar is "stacked"... (~110px)
// ====================================================================== /
// Default : normal navbar is ~70px
main {
  margin: 80px auto 100px auto;
}

@media screen and (min-width: 768px) and (max-width: 1306px), screen and (max-width: 350px) {
  main {
    margin: 120px auto 100px auto;
  }
}

// very narrow displays cause stacking of hamburger and branding (~120px)...
@media screen and (max-width: 350px) {
  main {
    margin: 130px auto 100px auto;
  }
}

// navbar 71px .. 111px (stacked)
// carousel 460px
// footer 50px
// sum = 621px
@media (min-height: 625px) {
  #view-container {
    margin: 0;
  }
  // div containing rendered views
  #view-div {
    margin: 0 10%;
    top: 50%;
    transform: translateY(-50%);
  }
}
