// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ====================================================================== /
//  globals
// ====================================================================== /
// colors
$color-lo: #f6a326;
$color-hi: #faf706;
$color-text: #eee;
$color-nav: #555;
$gradient-start: rgba(#00f, 1/3);
$gradient-end: rgba(#0f0, 1/3);
// metrics
$nav-height: 7rem;

// ====================================================================== /
//  mixins
//  (just for demonstration)
// ====================================================================== /
@mixin col-margin {
  .col {
    margin-top: 1rem;
  }
}

// ====================================================================== /
//  view animation :
// ====================================================================== /
@keyframes view-enter {
  from {
    transform: scale(0.1);
    opacity: 0;
  }
  to {
    transform: scale(1.0);
    opacity: 1;
  }
}

.enter {
  animation: 750ms ease view-enter;
}

// ====================================================================== /
//  html configurationo
// ====================================================================== /
html {
  // simplify rem calculations
  font-size: 10px;
  // viewport
  height: 100%;
  width: 100%;
}

// ====================================================================== /
//  body configuration
// ====================================================================== /
body {
  // font stack
  font: 2.0rem/3.0rem Arial, Helvetica, sans-serif;
  // background
  background-image: linear-gradient(to bottom right, $gradient-start, $gradient-end);
  // default text
  color: $color-text;
}

// ====================================================================== /
//  navigation
// ====================================================================== /
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $color-nav;

  // ----------------------------------- /
  //  columns
  // ----------------------------------- /
  @include col-margin;

  // ----------------------------------- /
  //  list items
  // ----------------------------------- /
  li.selected {
    background: #000;
  }

  // ----------------------------------- /
  //  anchors
  // ----------------------------------- /
  a {
    color: $color-lo;

    &:hover {
      color: $color-hi;
    }

    &:link {
      text-decoration: none;
    }

  }
}

#brand { color: $color-lo; }

// ====================================================================== /
//  views
// ====================================================================== /

// ----------------------------------- /
//  local viewport
// ----------------------------------- /
#view-container {
  position: absolute;
  left: 0;
  margin: $nav-height 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

// ----------------------------------- /
//  centered relative to container...
// ----------------------------------- /
#view-div {
  position: relative;
  margin: 0 10% 0 10%;
  padding: 2rem;
  background: rgba($color-nav, 2/3);
  border: 1px solid black;
  border-radius: 2rem;
  box-shadow: 1rem 1rem 0.75rem 0.5rem rgba($color-nav, 1/5);

  .img {
    border-radius: 100px;
    height: 45vh;
  }
}  // view-div

// ====================================================================== /
//  footer
// ====================================================================== /
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: $color-nav;
  color: $color-lo;
  text-align: center;

  // ----------------------------------- /
  // columns
  // ----------------------------------- /
  @include col-margin;

}

// ====================================================================== /
//  Let's get responsive...
// ====================================================================== /
@media (min-height: 768px) {
  #view-container {
    margin: 0;
  }
  // div containing rendered views
  #view-div {
    top: 50%;
    transform: translateY(-50%);
  }
}
