// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ====================================================================== /
//  globals
// ====================================================================== /
@import "colors";
// metrics
$font-pixels: 10px;
$nav-height: 5rem;

// ====================================================================== /
//  mixins
//  (just for demonstration)
// ====================================================================== /
@mixin col-margin {
  .col {
    margin-top: 1rem;
  }
}

// ====================================================================== /
//  view animation :
// ====================================================================== /
@keyframes view-enter {
  from {
    transform: scale(0.1);
    opacity: 0;
  }
  to {
    transform: scale(1.0);
    opacity: 1;
  }
}

.enter {
  animation: 750ms ease view-enter;
}

// ====================================================================== /
//  html configurationo
// ====================================================================== /
html {
  // simplify rem calculations
  font-size: $font-pixels;
  // viewport
  height: 100%;
  width: 100%;
}

// ====================================================================== /
//  body configuration
// ====================================================================== /
body {
  // font stack
  font: 2.0rem/3.0rem Arial, Helvetica, sans-serif;
  // background
  background-image: linear-gradient(to bottom right, $gradient-start, $gradient-end);
  // default text
  color: $color-text;
}

// ====================================================================== /
//  navigation
// ====================================================================== /
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $color-nav;
  height: $nav-height;
  max-height: $nav-height;

  // ----------------------------------- /
  //  columns
  // ----------------------------------- /
  @include col-margin;

  // ----------------------------------- /
  //  list items
  // ----------------------------------- /
  li.selected {
    background: #000;
  }

  // ----------------------------------- /
  //  anchors
  // ----------------------------------- /
  // a.nav-link {
  //   color: $color-lo;
  //
  //   &:hover {
  //     color: $color-hi;
  //   }
  //
  //   &:link {
  //     text-decoration: none;
  //   }
  //
  // }
}

#brand { color: $color-lo; }

// ====================================================================== /
//  views
// ====================================================================== /

// ----------------------------------- /
//  local viewport
// ----------------------------------- /
#view-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  border: 1px solid red;
}

// ----------------------------------- /
//  centered relative to container...
// ----------------------------------- /
#view-div {
  position: relative;
  margin: $nav-height*1.25 10%;
  padding: 2rem;
  background: rgba($color-nav, 2/3);
  border: 1px solid black;
  border-radius: 2rem;
  box-shadow: 1rem 1rem 0.75rem 0.5rem rgba($color-nav, 1/5);
}  // view-div

#carousel-example-generic {
  // height: 400px;
  img {
    margin-top: 30px;
  }
  h3 {
    margin-top: 30px;
    // margin-bottom: 30px;
  }
}
// ====================================================================== /
//  footer
// ====================================================================== /
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: $nav-height;
  width: 100%;
  background: $color-nav;
  color: $color-lo;
  text-align: center;

  // ----------------------------------- /
  // columns
  // ----------------------------------- /
  @include col-margin;

}

// ====================================================================== /
//  Let's get responsive...
// ====================================================================== /
@media (min-height: 768px) {
  #view-container {
    margin: 0;
  }
  // div containing rendered views
  #view-div {
    margin: 0 10%;
    top: 50%;
    transform: translateY(-50%);
  }
}
