<!-- Exercise 5.8 -->
<div class="product-reviews">

  <% @comments.each do |comment| %>
    <%= render comment %>
  <% end %>

  <% if @comments.count > @comment_pagination %>
    <div class="row">
      <div class="col col-md-12 text-center">
        <%= will_paginate @comments, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  <% end %>

</div>
