<h1>Editing Product</h1>

<%= render 'form', product: @product %>

<hr>

<%= link_to 'Show', @product, class:"btn btn-md btn-info" %> |
<%= link_to 'Products', products_path, class:"btn btn-md btn-default" %>
