<!-- begin footer -->
<footer class="container-fluid">
  <div class="row">
    <div class="col col-md-8 text-left">
      <p><%= Time.now %></p>
    </div>
    <div class="col col-md-4 text-right">
      &copy; 2018 AZ-JEM
    </div>
  </div>
</footer>
<!-- end footer -->
