<!-- begin navigation -->
<nav class="container-fluid">
  <div class="row">
    <div class="left col col-md-4 text-left hidden-xs">
      <p><em>AZ-JEM</em></p>
    </div>
    <div class="center col col-md-4 text-center hidden-xs">
      <p>Jeff McCarley</p>
    </div>
    <div class="right col col-md-4">
      <ul class="list list-unstyled list-inline text-right">
        <!-- links must contain "_path" suffix -->
        <li><%= link_to "Home", root_path, class:"nav-link" %></li>
        <li><%= link_to "About", simple_pages_about_path, class:"nav-link" %></li>
        <li><%= link_to "Contact", simple_pages_contact_path, class:"nav-link" %></li>
      </ul>
    </div>
    <!-- col -->
  </div>
  <!-- row -->
</nav>
<!-- end navigation -->
